#  01. Assigment

This assigment, we will creat a script to acess edgar data and download a 1000 samples from 10-K

First we will import the dependencies and download a file from edgar with the links to the files tha we want to download.

This link https://www.sec.gov/edgar/searchedgar/accessing-edgar-data.htm has teh documentation and the file we want to download first

We will download the file 2017 fist quartil. The  file company.idx has the information.

In [1]:
#Pandas dataframe is a very good pakage to work with files
import pandas as pd

In [2]:
#Here we create a variavle with the url with all url files
url_idx = 'https://www.sec.gov/Archives/edgar/full-index/2017/QTR1/company.idx'

In [3]:
#we use pandas direct to import the file from website into memory
#We use the function pd.read_fwf and skip the first 10 row that don't have any data 
#and without any header.

files_link = pd.read_fwf(url_idx, skiprows=10, header =None , \
                         colspecs=[(0,61),(61,73),(74,85), (86,96), (98,150)],
                        names= ['company_name','form_type','cik','date','file'])

In [4]:
#Let´s take a look how the data looks like
files_link.head(100)

,company_name,form_type,cik,date,file
0,"024 Pharma, Inc.",10-K,1307969,2017-03-24,edgar/data/1307969/0001683168-17-000653.txt
1,1 800 FLOWERS COM INC,10-Q,1084869,2017-02-10,edgar/data/1084869/0001437749-17-002102.txt
2,1 800 FLOWERS COM INC,3,1084869,2017-02-07,edgar/data/1084869/0001084869-17-000006.txt
3,1 800 FLOWERS COM INC,4,1084869,2017-02-03,edgar/data/1084869/0001084869-17-000001.txt
4,1 800 FLOWERS COM INC,4,1084869,2017-02-06,edgar/data/1084869/0001084869-17-000002.txt
5,1 800 FLOWERS COM INC,4,1084869,2017-02-06,edgar/data/1084869/0001084869-17-000003.txt
6,1 800 FLOWERS COM INC,4,1084869,2017-02-06,edgar/data/1084869/0001084869-17-000004.txt
7,1 800 FLOWERS COM INC,4,1084869,2017-02-06,edgar/data/1084869/0001084869-17-000005.txt
8,1 800 FLOWERS COM INC,8-K,1084869,2017-01-05,edgar/data/1084869/0001157523-17-000031.txt
9,1 800 FLOWERS COM INC,8-K,1084869,2017-01-31,edgar/data/1084869/0001157523-17-000243.txt
10,1 800 FLOWERS COM INC,8-K,1084869,2017-02-03,edgar/data/1084869/0001157523-17-000348.txt
11,1 800 FLOWERS COM INC,8-K,1084869,2017-03-20,edgar/data/1084869/0000950162-17-000007.txt
12,1 800 FLOWERS COM INC,SC 13G/A,1084869,2017-01-19,edgar/data/1084869/0000215457-17-001185.txt
13,1 800 FLOWERS COM INC,SC 13G/A,1084869,2017-02-09,edgar/data/1084869/0001258897-17-001145.txt
14,1 800 FLOWERS COM INC,SC 13G/A,1084869,2017-02-15,edgar/data/1084869/0000950162-17-000003.txt
15,10 Perimeter Investors LLC,D,1701111,2017-03-20,edgar/data/1701111/0001701111-17-000001.txt
16,"10-15 ASSOCIATES, INC.",13F-HR,1511144,2017-02-14,edgar/data/1511144/0001206774-17-000415.txt
17,"100 Congress REIT, LLC",D,1693778,2017-01-05,edgar/data/1693778/0001693778-17-000001.txt
18,100 Maple LLC,424B5,1429709,2017-01-19,edgar/data/1429709/0001193125-17-013313.txt
19,100 Maple LLC,424B5,1429709,2017-01-23,edgar/data/1429709/0001193125-17-015384.txt
20,"100 West C Street Investors, LLC",D,1695034,2017-01-20,edgar/data/1695034/0001683168-17-000130.txt
21,1000 MARY LLC,D,1701871,2017-03-28,edgar/data/1701871/0001701871-17-000001.txt
22,101 Seaport Blvd LLC,D,1694963,2017-01-18,edgar/data/1694963/0001694963-17-000001.txt
23,"1060 Capital, LLC",13F-HR,1602119,2017-02-01,edgar/data/1602119/0000950123-17-000678.txt
24,1096031 B.C. LTD,D,1694215,2017-01-13,edgar/data/1694215/0001183740-17-000006.txt
25,"10TALENTS PRIVATE FUND I, L.P.",D,1700300,2017-03-08,edgar/data/1700300/0001700300-17-000001.txt
26,"10X Capital Management, LLC",4,1457247,2017-01-09,edgar/data/1457247/0001493152-17-000300.txt
27,"10X Capital Management, LLC",4,1457247,2017-02-01,edgar/data/1457247/0001493152-17-001000.txt
28,"10X Capital Management, LLC",4/A,1457247,2017-01-09,edgar/data/1457247/0001493152-17-000292.txt
29,"10X Fund, L.P.",4,1453356,2017-01-09,edgar/data/1453356/0001493152-17-000300.txt
...,...,...,...,...,...
70,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061449.txt
71,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061623.txt
72,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061638.txt
73,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061647.txt
74,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061734.txt
75,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061745.txt
76,1290 Funds,497K,1605941,2017-02-28,edgar/data/1605941/0001193125-17-061773.txt
77,1290 Funds,CORRESP,1605941,2017-02-10,edgar/data/1605941/0001193125-17-038680.txt
78,1290 Funds,CORRESP,1605941,2017-02-10,edgar/data/1605941/0001193125-17-038683.txt
79,1290 Funds,DEFA14A,1605941,2017-01-17,edgar/data/1605941/0001193125-17-011019.txt
80,1290 Funds,DEFA14A,1605941,2017-02-09,edgar/data/1605941/0001193125-17-035514.txt
81,1290 Funds,DEFA14A,1605941,2017-02-14,edgar/data/1605941/0001193125-17-043270.txt
82,1290 Funds,N-Q,1605941,2017-03-27,edgar/data/1605941/0001193125-17-096995.txt
83,"12th Street Asset Management Company, LLC",13F-HR,1633703,2017-02-14,edgar/data/1633703/0001633703-17-000006.txt
84,12th Street Asset Management LP,D/A,1449906,2017-02-22,edgar/data/1449906/0001449906-17-000002.txt
85,"12welve Eyes Brewing, LLC",D,1695886,2017-02-14,edgar/data/1695886/0001695886-17-000001.txt
86,"13 MAKFI/AURORE, LLC",D,1697768,2017-02-09,edgar/data/1697768/0001697768-17-000002.txt
87,"1308 N. ELSTON (CHICAGO) INVESTORS, LLC",D,1693150,2017-01-11,edgar/data/1693150/0001693150-17-000001.txt
88,"1326 South Michigan Avenue (Chicago) Holdings,...",D,1696080,2017-01-27,edgar/data/1696080/0001696062-17-000001.txt
89,134 Bay Street LLC,POSASR,1370008,2017-03-07,edgar/data/1370008/0000794170-17-000019.txt
90,"1347 Property Insurance Holdings, Inc.",10-K,1591890,2017-03-16,edgar/data/1591890/0001387131-17-001422.txt
91,"1347 Property Insurance Holdings, Inc.",4,1591890,2017-02-15,edgar/data/1591890/0001144204-17-009281.txt
92,"1347 Property Insurance Holdings, Inc.",8-K,1591890,2017-03-08,edgar/data/1591890/0001387131-17-001258.txt
93,"1347 Property Insurance Holdings, Inc.",8-K,1591890,2017-03-16,edgar/data/1591890/0001387131-17-001425.txt
94,"1347 Property Insurance Holdings, Inc.",8-K/A,1591890,2017-03-08,edgar/data/1591890/0001387131-17-001260.txt
95,"1347 Property Insurance Holdings, Inc.",SC 13D/A,1591890,2017-01-03,edgar/data/1591890/0001144204-17-000015.txt
96,"1347 Property Insurance Holdings, Inc.",SC 13D/A,1591890,2017-02-15,edgar/data/1591890/0001144204-17-009280.txt
97,"1347 Property Insurance Holdings, Inc.",SC 13D/A,1591890,2017-02-15,edgar/data/1591890/0001560207-17-000005.txt
98,"1347 Property Insurance Holdings, Inc.",SC 13G/A,1591890,2017-02-14,edgar/data/1591890/0000919574-17-001732.txt
99,"13922 Cerise Avenue, LLC",POSASR,1613415,2017-03-28,edgar/data/1613415/0001571049-17-002929.txt

How many files we have?

In [5]:
files_link['company_name'].count()

311453

WoW!!! More than 300k files. But we don´t need all.

In the collun 2 we can see the form type, we want only the 10-K's documents, so lets filter

In [6]:
documents = '10-K'

In [7]:
files_link_10k = files_link[files_link['form_type'] == documents]
files_link_10k.head()

,company_name,form_type,cik,date,file
0,"024 Pharma, Inc.",10-K,1307969,2017-03-24,edgar/data/1307969/0001683168-17-000653.txt
90,"1347 Property Insurance Holdings, Inc.",10-K,1591890,2017-03-16,edgar/data/1591890/0001387131-17-001422.txt
220,1ST CONSTITUTION BANCORP,10-K,1141807,2017-03-16,edgar/data/1141807/0001141807-17-000012.txt
238,1ST SOURCE CORP,10-K,34782,2017-02-17,edgar/data/34782/0000034782-17-000036.txt
265,1st FRANKLIN FINANCIAL CORP,10-K,38723,2017-03-31,edgar/data/38723/0001376474-17-000071.txt

How may files do we have now?

In [8]:
files_link_10k['company_name'].count()

5275

We need only 100 documents, we can download the first ones or we can sample randomly.
lets take a sample from this.

In [9]:
num_sample = 100

In [10]:
#we can set randon_state, so we can reproduce or sampling 
sample_files_link_10k = pd.DataFrame(files_link_10k.sample(n=num_sample,random_state=0),\
                                     copy=True)
sample_files_link_10k.reset_index(inplace=True)

In [11]:
sample_files_link_10k.head()

,index,company_name,form_type,cik,date,file
0,275433,TRAVELZOO INC,10-K,1133311,2017-03-15,edgar/data/1133311/0001133311-17-000010.txt
1,2116,ACCO BRANDS Corp,10-K,712034,2017-02-27,edgar/data/712034/0000712034-17-000012.txt
2,127781,GrowGeneration Corp.,10-K,1604868,2017-03-31,edgar/data/1604868/0001213900-17-003102.txt
3,16371,Advanced Biomedical Technologies Inc.,10-K,1385799,2017-02-14,edgar/data/1385799/0001387131-17-000831.txt
4,230264,"Primerica, Inc.",10-K,1475922,2017-02-27,edgar/data/1475922/0001564590-17-002594.txt

Now we can download the files.
First we need to put the beginig url and than download the files

In [12]:
import urllib.request #to download the data from a website
import sys #to print 
import time #to get the time

count = 0
corpus = []
timeout = 15 #use this timeout to download the data. 
base_url = 'https://www.sec.gov/Archives/'

In [13]:
#start the clock. Lets se how long it takes to download our files
start = time.time()


for row in sample_files_link_10k['file']:
    count += 1
    baselink = base_url + row
    text = ''
    text = urllib.request.urlopen(baselink,timeout=5).read()
    corpus.append(text)
    end = time.time()
    
    
    # Printing out the the progress
    sys.stdout.write("\rProgress: {:2.1f}".format(100 * count/float(num_sample)) \
                     + "% ... Documents processed: " + str(count) \
                     + " time running: " + str(int((end-start)/60)) + " minutes.") 
    sys.stdout.flush()

Progress: 100.0% ... Documents processed: 100 time running: 4 minutes.

Now all files are saved as a list into memory. Lets transform to a Dataframe and put as a column in our previous dataframe.

In [14]:
sample_files_link_10k['corpus'] = pd.DataFrame(corpus)

In [15]:
sample_files_link_10k.head()

,index,company_name,form_type,cik,date,file,corpus
0,275433,TRAVELZOO INC,10-K,1133311,2017-03-15,edgar/data/1133311/0001133311-17-000010.txt,b'<SEC-DOCUMENT>0001133311-17-000010.txt : 201...
1,2116,ACCO BRANDS Corp,10-K,712034,2017-02-27,edgar/data/712034/0000712034-17-000012.txt,b'<SEC-DOCUMENT>0000712034-17-000012.txt : 201...
2,127781,GrowGeneration Corp.,10-K,1604868,2017-03-31,edgar/data/1604868/0001213900-17-003102.txt,b'<SEC-DOCUMENT>0001213900-17-003102.txt : 201...
3,16371,Advanced Biomedical Technologies Inc.,10-K,1385799,2017-02-14,edgar/data/1385799/0001387131-17-000831.txt,b'<SEC-DOCUMENT>0001387131-17-000831.txt : 201...
4,230264,"Primerica, Inc.",10-K,1475922,2017-02-27,edgar/data/1475922/0001564590-17-002594.txt,b'<SEC-DOCUMENT>0001564590-17-002594.txt : 201...

We have download all our files, but it is in memory. Let´s save into disk in one single file. So it will be very easy to import and work with this data after.

I will use .pickle that is a very good formart to save this kind of objects

In [16]:
#Saving the data for future use
sample_files_link_10k.to_pickle('./data/raw/10-K_Data.pik')

Now we can just load the file and wont need to import everything again.

If we download too much data, it is possible that we wont have enoght memomry in our computer, than we need to save every file and work in batchs.